name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
    - name: Deploy via Local Git Pull
      run: |
        echo "开始部署..."
        cd ~/blog/My-blog/
        git pull
        echo "部署完成！"
    
    - name: release on web
      run: |
        echo "开始发布..."
        cd ~/blog/My-blog/
        source ./venv/bin/activate
        mkdocs build
        rsync -a --delete site/ /var/www/quam1123.top/