name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # 配置 SSH Key (用于登录你的服务器)
    - name: Install SSH Key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSH_PRIVATE_KEY }} 
        known_hosts: 'placeholder'
        if_key_exists: replace

    # 把服务器加入信任列表
    - name: Adding Known Hosts
      run: ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

    # 【修改处】远程执行命令
    - name: Deploy via Remote Git Pull
      run: |
        ssh ${{ secrets.USERNAME }}@${{ secrets.SERVER_IP }} \
        "cd ~/blog/My-blog/ && git pull"